{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> {% block title%} Ajedrez {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/charmi.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>
	<header class="ajustable">
		<div class="menu_bar">
			<a href="#" class="bt-menu"><span class="fas fa bars"></span>Menu</a>

		</div>

		<nav>
			<ul>
				<li><h2>Charmi.org</h2></li>
				<li><a href=""><span style="width: 100px;"> Jugar </span></a></li>
				<li><a style="width: 80px" href=""><span> Aprender </span></a></li>
				<li><a style="width: 80px" href=""><span> Observar </span></a></li>
				<li><a style="width: 110px" href=""><span> Comunidad </span></a></li>
				<li style="margin-right: 100px;"><a style="width: 120px" href=""><span>Contactanos</span></a></li>
				<li style="width: 180px; margin-right: 0px;"> 
					<div class="buscar"> 
						<input class="input" style = "width: 80%;" type="search" placeholder="Search" name="Buscar">
						<button class = "fa fa-search"></button>
					</div>
				</li>

				<li><a style="width: 150px; padding-right: 0px;padding-top: 4px;" href="{% url 'logout' %}"><span class="font-size: 20px;"> Cerrar Sesión </span></a></li>

			</ul>
		</nav>

	</header>
	<!--Container general 1-->
	<<div class="main ajedrez col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<div class="row muerto">
			
		</div>
		<!-- fila 1 -->
		<div class="row">

			<div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1">
			</div>

			<div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6">

				<section>					
					<div class="row" id="ajedrez">
						
						<div id="tablero">

							<div class="fila">
								<div class=" casilla2"> </div>
								<div class=" casilla2"> a </div>
								<div class=" casilla2"> b </div>
								<div class=" casilla2"> c </div>
								<div class=" casilla2"> d </div>
								<div class=" casilla2"> e </div>
								<div class=" casilla2"> f </div>
								<div class=" casilla2"> g </div>
								<div class=" casilla2"> h </div>
								<div class=" casilla2"> </div>
							</div>

							<div class="fila 8">
								<div class=" casilla"> 8 </div>

								<div class=" casilla claro">
									<span id="Torre_negra_1">&#9820</span>
								</div>

								<div class=" casilla oscuro">
									<span id="Caballo_negro_1">&#9822</span>
								</div>
								<div class=" casilla claro">
									<span id="Alfil_negro_1">&#9821</span>
								</div>

								<div class=" casilla oscuro">
									<span id="Queen_Black">&#9819</span>
								</div>
								<div class=" casilla claro">
									<span id="King_Black">&#9818</span>
								</div>
								<div class=" casilla oscuro">
									<span id="Alfil_negro_2">&#9821</span>
								</div>

								<div class=" casilla claro">
									<span id="Caballo_negro_2">&#9822</span>
								</div>

								<div class=" casilla oscuro">
									<span id="Torre_negra_2">&#9820</span>
								</div>

								<div class=" casilla"> 8 </div>
							
							</div>
								
							<div class="fila 7">
								<div class=" casilla"> 7 </div>

								<div class=" casilla oscuro">
									<span id="Caballo_negro_1">&#9823</span>
								</div>
								<div class=" casilla claro">
									<span id="Alfil_negro_1">&#9823</span>
								</div>

								<div class=" casilla oscuro">
									<span id="King_Black">&#9823</span>
								</div>
								<div class=" casilla claro">
									<span id="Queen_Black">&#9823</span>
								</div>

								<div class=" casilla oscuro">
									<span id="Alfil_negro_2">&#9823</span>
								</div>

								<div class=" casilla claro">
									<span id="Caballo_negro_2">&#9823</span>
								</div>

								<div class=" casilla oscuro">
									<span id="Torre_negra_2">&#9823</span>
								</div>

								<div class=" casilla claro">
									<span id="Torre_negra_1">&#9823</span>
								</div>

								<div class=" casilla"> 7 </div>
							</div>

							<div class="fila 6">
								<div class=" casilla"> 6 </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla"> 6 </div>
							</div>

							<div class="fila 5">
								<div class=" casilla"> 5 </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla"> 5 </div>
							
							</div>
							<div class="fila 4">
								<div class=" casilla"> 4 </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla"> 4 </div>
							</div>

							<div class="fila 3">
								<div class=" casilla"> 3 </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla oscuro"> </div>
								<div class=" casilla claro"> </div>
								<div class=" casilla"> 3 </div>
							</div>

							<div class="fila 2">
								<div class=" casilla"> 2 </div>

								<div class=" casilla claro">
									<span id="Torre_negra_1">&#9817</span>
								</div>

								<div class=" casilla oscuro">
									<span id="Caballo_negro_1">&#9817</span>
								</div>
								<div class=" casilla claro">
									<span id="Alfil_negro_1">&#9817</span>
								</div>

								<div class=" casilla oscuro">
									<span id="King_Black">&#9817</span>
								</div>
								<div class=" casilla claro">
									<span id="Queen_Black">&#9817</span>
								</div>

								<div class=" casilla oscuro">
									<span id="Alfil_negro_2">&#9817</span>
								</div>

								<div class=" casilla claro">
									<span id="Caballo_negro_2">&#9817</span>
								</div>

								<div class=" casilla oscuro">
									<span id="Torre_negra_2">&#9817</span>
								</div>
								<div class=" casilla"> 2 </div>
							</div>
							
							<div class="fila 1">

								<div class=" casilla"> 1 </div>

								<div class=" casilla oscuro">
									<span id="Torre_blanco_1">&#9814</span>
								</div>

								<div class=" casilla claro">
									<span id="Caballo_blanco_1">&#9816</span>
								</div>
								<div class=" casilla oscuro">
									<span id="Alfil_blanco_1">&#9815</span>
								</div>

								<div class=" casilla claro">
									<span id="Queen_blanco">&#9813</span>
								</div>
								<div class=" casilla oscuro">
									<span id="King_blanco">&#9812</span>
								</div>

								<div class=" casilla claro">
									<span id="Alfil_blanco_2">&#9815</span>
								</div>

								<div class=" casilla oscuro">
									<span id="Caballo_blanco_2">&#9816</span>
								</div>

								<div class=" casilla claro">
									<span id="Torre_blanco_2">&#9814</span>
								</div>

								<div class=" casilla"> 1 </div>
								
							</div>
							<div class="fila 0">
								<div class=" casilla2"> </div>
								<div class=" casilla2"> a </div>
								<div class=" casilla2"> b </div>
								<div class=" casilla2"> c </div>
								<div class=" casilla2"> d </div>
								<div class=" casilla2"> e </div>
								<div class=" casilla2"> f </div>
								<div class=" casilla2"> g </div>
								<div class=" casilla2"> h </div>
								<div class=" casilla2"> </div>
							</div>
						</div>
					</div>
				</section>
			</div>

			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">

				<div class="" style="margin-top: 40px;">
					<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h6>{{ user.username }}</h6>
								<img style="height: 100px; width: 100px;" src="{{ user.profile.Photo.ruta }}">
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h6> Ranking: {{ rankins.Cantidad }} </h6>
								<h6> {% for o in direcciones %}  
                				"{{ o.City }}", 
				                {{ o.Country }} 
        						{% endfor  %} </h6>
							</div>
						</div>

					<div class="foto2"> 

						<div class="row"> 
							<h2 style="margin-left: 20px;">05:00</h2>

						</div>
						<div class="row" style="height: 100px;">
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 30px; margin-top: 30px;"> 
									<form action="{% url 'Victoria' %}" method="post">
										{% csrf_token %}
										<input type="submit" value="Victoria">
									</form>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 20px; margin-top: 30px;">
									<form action="{% url 'Empate' %}" method="post">
										{% csrf_token %}
										<input type="submit" value="Empate">
									</form>
								</div>
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 0px; margin-top: 30px;">
									<form action="{% url 'Derrota' %}" method="post">
										{% csrf_token %}
										<input type="submit" value="Derrota">
									</form>
								</div>
						</div>

						<div class="row"> 
							<h2 style="margin-left: 20px;">05:00</h2>
						</div>
					</div>

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h6>
									{{ oponente.username }}
								</h6>
								<img style="height: 100px; width: 100px;" src="{{ user.profile.Photo.ruta }}">
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<h6>Ranking: {{ ran_oponente.Cantidad }}</h6>
								<h6>{% for o in dir_oponente %}  
                				"{{ o.City }}", 
				                {{ o.Country }} 
        						{% endfor  %}</h6>
							</div>
						</div>

				</div>
			</div>
			
		</div>
		
	</div>


	<footer>
		


	</footer>


	<!-- Necesario para BootStrap JQUERY -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>