{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> {% block title%} Charmi {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/charmi.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body class="Inicio">
	<header class="ajustable">
		<div class="menu_bar">
			<a href="#" class="bt-menu"><span class="fas fa bars"></span>Menu</a>

		</div>

		<nav>
			<ul>
				<li><h2>Charmi.org</h2></li>
				<li><a href=""><span style="width: 100px;"> Jugar </span></a></li>
				<li><a style="width: 80px" href=""><span> Aprender </span></a></li>
				<li><a style="width: 80px" href=""><span> Observar </span></a></li>
				<li><a style="width: 110px" href=""><span> Comunidad </span></a></li>
				<li style="margin-right: 400px;"><a style="width: 120px" href=""><span>Contactanos</span></a></li>
				<li><a style="width: 40px" href="{% url 'login' %}"><span> Login </span></a></li>
			</ul>
		</nav>

	</header>
	<!--Container general 1-->
	<div class="main col-xs-12 col-sm-12 col-md-12 col-lg-12">

		<div class="row muerto">
			
		</div>
		<!-- fila 1 -->
		<div class="row" style="margin-top: 50px;">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			</div>

			<div style="border-radius: 20px;" class="Login col-xs-4 col-sm-4 col-md-4 col-lg-4" >

				{% block login %}

				{% endblock %}

				{% block Registrar %}

				{% endblock %}

				{% block Forget %}

				{% endblock %}

			
				{% block content %}

				{% endblock %}

				{% block profile %}

				{% endblock %}

			</div>

			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
				
			</div>
		</div>
		
	</div>


	<footer>
		


	</footer>


	<!-- Necesario para BootStrap JQUERY -->
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>