{% extends 'charmi/principal.html' %}

{% block inf %} 
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

				<div class="foto">

					<div class="foto2"> 
						<div class="titulo">
							<label> Usuario: {{ user.username }} <br>
							</label>
						</div>

						<div class="inf">

							<div class="row">
							
								<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
									<div class="foto_perfil">
										<img src="{{ user.profile.Photo.ruta }}">
									</div>
								</div>

								<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
									<label> Nombre: {{ user.first_name }} </label>
									<label> Apellido: {{ user.last_name }} </label>
									<label> Sexo: {{ user.profile.Sexo }} </label>
									<label> De: {% for o in direcciones %}	
												{{ o.City }}
												{{ o.Country }}
												{% endfor  %} 
									</label>
								</div>
							</div>
						</div>

					</div>

					<div class="foto2"> 
						<div class="titulo">
							<h6>Amigos (cantidad)</h6>
							
						</div>
						<div>

						</div>


					</div>

					<div class="foto2"> 
						<div class="titulo">
							<h6>Top de Rankings </h6>
							
						</div>
					<div>
						<table >
							<tbody>
								{% for o in rankins %}
								<tr>
									<td class="Rankings"> {{ o.Game.NameGame }} </td>
									<td> {{ o.Cantidad }} </td> 
								</tr>
								{% endfor  %}
							</tbody>
						</table>

					</div>

					</div>
				</div>
			</div>

{% endblock %} 

{% block listas_juegos %} 

<div class="list_game col-xs-7 col-sm-7 col-md-7 col-lg-7">

				<section class="randow">
					<div class="row title">

							<h3>Multijugador</h3>

					</div>
					 </a>
					<div class="row primero">
						 <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
						 	<a href="{% url 'ajedrez' %}">
							<div class="Game" id="Ajedrez" ></div>
							
							<h3>Ajedrez</h3>
							</a>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<a href="#">
							<div class="Game" id="Poker">
								
							</div>
							<h3>Poker</h3>
							</a>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<a href="">
							<div class="Game" id="Domino">

							</div>
							<h3>Domino</h3>
							</a>
						</div>
					</div>
					<div class="row">
						<a href="">
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="Game" id="Ludo">

							</div>
							<h3>Ludo</h3>
						</a>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<a href="">
							<div class="Game" id="Gomoku">
								
							</div>
							<h3>Gomoku</h3>
							</a>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<a href="">
							<div class="Game" id="Damas">
								
							</div>
							<h3>Damas</h3>
							</a>
						</div>
					</div>
				</section>
</div>

{% endblock %} 

{% block menu_izq %} 
	<div class="menu_der" style="margin-top: 200px;">
				<ul>
					<li><a href="{% url 'edit' %}">Mi perfil</a></li>
					<li><a href="">Mis mensajes</a></li>
					<li><a href="">Mis amigos</a></li>
					<li><a href="">Mis Rankings</a></li>
					<li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
				</ul>
	</div>
			

{% endblock %} 
